
@model IEnumerable<andaniStudyGroup.Models.StudyGroup>

@{
    ViewBag.Title = "Student Group";
}

<h2>Student Study Group</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.StudentNo) </th>
        <th>@Html.DisplayNameFor(model => model.FirstName) </th>
        <th>@Html.DisplayNameFor(model => model.LastName) </th>
        <th>@Html.DisplayNameFor(model => model.EmailAddress) </th>
    </tr>

    @foreach (var item in Model)
            {
               <tr>
                   <th>@Html.DisplayFor(model => item.StudentNo) </th>
                   <th>@Html.DisplayFor(model => item.FirstName) </th>
                   <th>@Html.DisplayFor(model => item.LastName) </th>
                   <th>@Html.DisplayFor(model => item.EmailAddress) </th>
               </tr>
            }
</table>

